<component name="ArtifactManager">
  <artifact type="war" name="spring-webapp:war">
    <output-path>$PROJECT_DIR$/spring-webapp/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-webapp</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-webapp-1.0.war">
      <element id="artifact" artifact-name="spring-webapp:war exploded" />
    </root>
  </artifact>
</component>